
    <h2>Zaboravljena lozinka</h2>
    <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="row">
        
        <div class="col-md-6">
        <div>
            <div class="form-group">
                <label>E-mail:</label>
                <input type="text" class="form-control"  [(ngModel)]="recovery.email" />
            </div>
            <button class="btn btn-success" (click)="sendRecoveryLink()">Pošalji link</button>
        </div>
      
    </div>  
    

