<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{title}}</h3>
</div>
<form #examForm="ngForm">
  <div class="modal-body" id="modal-body">
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="alert alert-danger" *ngIf="validationMessage && showValidation && examForm.invalid">{{validationMessage}}</div>
    <div class="form-group">
      <label>Naziv*:</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="exam.name" required/>
    </div>
    <div class="form-group">
      <label>Datum*:</label>
      <p class="input-group">
        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(ngModel)]="exam.examDateTime" name="date" [bsConfig]="bsConfig" required/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" (click)="dp.toggle()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>        
      </p>
    </div>
    <div class="form-group">
      <label>Vrijeme:</label>
      <timepicker [(ngModel)]="exam.examDateTime" name="time" [showMeridian]="false" [minuteStep]="30" [showSpinners]="false"></timepicker>      
    </div>
    <div class="form-group">
      <label>Predmet*:</label>
      <select class="form-control" required [(ngModel)]="exam.courseId" [disabled]="courses.length < 2" name="course" required>
        <option *ngFor="let c of courses" [value]="c.id">{{c.name}}</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
      <button class="btn btn-primary" type="button" (click)="ok(examForm)">Spremi</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Odustani</button>
  </div>
</form>
